:root {
	--color1: #46425e;
	--color2: #15788c;
	--color3: #00b9be;
	--color4: #ff6973;
	--color5: #ffb0a3;
	--color6: #ffeecc;

	--main-fg: var(--color1);
	--main-bg: var(--color5);

	--toolbar-bg: var(--color6);

	--sidebar-fg: var(--color6);
	--sidebar-bg: var(--color1);

	--sidebar-tag-fg: var(--color6);
	--sidebar-tag-bg: var(--color2);

	--dialog-fg: var(--color1);
	--dialog-bg: var(--color6);
	--dialog-border: var(--color1);
	--dialog-shadow: var(--color4);

	--table-header-fg: var(--color1);
	--table-header-bg: var(--color4);
	--table-header-border: var(--color1);

	--table-fg: var(--color1);
	--table-bg: var(--color6);
	--table-border: var(--color5);

	--button-fg: var(--color1);
	--button-bg: var(--color5);
	--button-shadow: var(--color4);

	--button-focus-fg: var(--color6);
	--button-focus-bg: var(--color3);
	--button-focus-shadow: var(--color2);

	--input-fg: #222;
	--input-bg: #fff;
	--input-border: var(--color5);
	--input-shadow: var(--color6);

	--input-focus-border: var(--color4);

	--invalid: #f00;

	--preview-bg: var(--color1);

	--main-font: "Noto Sans Mono";

	--toolbar-display: flex;
}

* {
	box-sizing: border-box;
}

.hidden {
	display: none;
}

html, body {
	margin: 0;
	padding: 0;
	background-color: var(--sidebar-bg);
	font-family: var(--main-font);
	font-size: 14px;
}

main {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	flex-direction: column;
}

input, button, textarea, select, button.toggle::before {
	appearance: none;
	position: relative;
	display: inline-block;
	width: auto;
	height: auto;
	min-width: 0;
	padding: 0;
	margin: 0;
	border: none;
	outline: none;
	background: transparent;
	color: inherit;
	font: inherit;
}

select,
button,
button.toggle::before {
	cursor: pointer;
	font-weight: 700;
}

select,
button.text,
button.icon,
button.toggle::before {
	border-radius: 8px;
	box-shadow: -2px 2px 0 0 var(--button-shadow);
	background-color: var(--button-bg);
	color: var(--button-fg)
}

button.icon {
	padding: 4px;
}

select,
button.text {
	padding: 8px 16px;
}

select:hover,
button.text:hover,
button.icon:hover,
button.toggle:hover::before {
	top: -2px;
	left: 2px;
	box-shadow: -4px 4px 0 0 var(--button-shadow);
}

select:active,
button.text:active,
button.icon:active,
button.toggle:active::before {
	top: 2px;
	left: -2px;
	box-shadow: none !important;
}

select:focus,
button.text:focus,
button.icon:focus,
button.toggle:focus::before {
	box-shadow: -2px 2px 0 0 var(--button-focus-shadow);
	background-color: var(--button-focus-bg);
	color: var(--button-focus-fg);
}

select:focus:hover,
button.text:focus:hover,
button.icon:focus:hover,
button.toggle:focus:hover::before {
	box-shadow: -4px 4px 0 0 var(--button-focus-shadow);
}

button.dialog-close-button {
	box-shadow: -2px 2px 0 0 var(--button-bg);
	background-color: var(--dialog-bg);
	color: var(--dialog-fg);
}

button.dialog-close-button:hover {
	box-shadow: -4px 4px 0 0 var(--button-bg);
}

button.icon img,
button.icon svg {
	width: 32px;
	height: 32px;
	display: block;
	color: inherit;
}

button.icon.small img,
button.icon.small svg {
	width: 24px;
	height: 24px;
}

.toggle-container {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

button.toggle {
	display: inline-flex;
	align-items: center;
	gap: 8px;
}

button.toggle::before {
	content: '';
	box-sizing: border-box;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 32px;
	height: 32px;
}

button.toggle.on::before{
	content: '✔';
}

.button-row {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
}

select {
	padding-right: 32px;
}

.select-wrapper {
	position: relative;
}

.select-wrapper > select {
	width: 100%;
}

.select-arrow {
	display: block;
	position: absolute;
	right: 12px;
	top: 50%;
	transform: translateY(-50%);
	color: var(--button-fg);
}

select:hover + .select-arrow {
	margin-top: -2px;
	margin-right: -2px;
}

select:active + .select-arrow {
	margin-top: 2px;
	margin-right: 2px;
}

select:focus + .select-arrow {
	color: var(--button-focus-fg);
}

input {
	border-radius: 8px;
	border: 1px solid var(--input-border);
	box-shadow: 0 2px 0 var(--input-shadow) inset;
	padding: 8px 16px;
	background-color: var(--input-bg);
	color: var(--input-fg);
}

input:focus {
	border-color: var(--input-focus-border);
}

input:invalid, input.invalid {
	outline: 2px solid var(--invalid);
}

.validation-error {
	display: none;
	color: var(--invalid);
	font-weight: 700;
}

input:invalid + .validation-error,
input.invalid + .validation-error,
input:invalid + .string-preview + .validation-error,
input.invalid + .string-preview + .validation-error {
	display: inline-block;
}

label {
	display: flex;
	align-items: center;
	gap: 12px;
}

label .fill {
	flex-grow: 1;
}

#toolbar {
	display: var(--toolbar-display);
	align-items: center;
	gap: 8px;
	margin: 8px;
	margin-bottom: 0;
	padding: 8px;
	border-radius: 8px;
	background-color: var(--toolbar-bg);
}

#toolbar .vertical-divider {
	width: 4px;
	height: 4px;
	border-radius: 8px;
	background-color: var(--button-bg);
	display: block;
}

#main {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	overflow: hidden;
	color: var(--main-fg);
}

#sidebar {
	display: flex;
	flex-direction: column;
	overflow: auto;
	min-width: 200px;
	margin: 8px 0;
	padding-top: 8px;
	padding-left: 8px;
	padding-bottom: 8px;
	background-color: var(--sidebar-bg);
}

#sidebar button {
	padding: 12px 16px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
	text-align: left;
	color: var(--sidebar-fg);
}

#sidebar button:hover {
	background-color: color-mix(in srgb, var(--main-bg) 50%, transparent);
}

#sidebar button.selected {
	margin-right: 0;
	background-color: var(--main-bg);
	color: var(--main-fg);
}

.tag {
	display: inline-block;
	position: relative;
	top: -1px;
	margin-left: 2px;
	padding: 2px 8px;
	border-radius: 100px;
	background-color: var(--sidebar-tag-bg);
	color: var(--sidebar-tag-fg);
	font-size: x-small;
}

#contents {
	flex-grow: 1;
	overflow: auto;
	margin: 8px;
	margin-left: 0;
	padding: 16px;
	border-radius: 8px;
	background-color: var(--main-bg);
	color: var(--main-fg);
}

.section-toolbar {
	margin-bottom: 12px;
}

.table-title {
	font-size: large;
	font-weight: 700;
	margin-bottom: 6px;
}

.table-title .tag {
	margin-left: 6px;
	top: -3px;
	font-weight: normal;
}

table {
	border-radius: 8px;
	border-spacing: 0;
	font-family: inherit;
}

td, th {
	padding: 8px 16px;
}

th {
	border-bottom: 1px solid var(--table-header-border);
	border-right: 1px solid var(--table-header-border);
	background-color: var(--table-header-bg);
	color: var(--table-header-fg);
	text-align: left;
	font-weight: 700;
}

th:first-child {
	border-left: 1px solid var(--table-header-border);
}

thead > tr:first-child > th,
tbody:first-child > tr:first-child > th {
	border-top: 1px solid var(--table-header-border);
}

td {
	border-bottom: 1px solid var(--table-border);
	border-right: 1px solid var(--table-border);
	background-color: var(--table-bg);
	color: var(--table-fg);
}

td:first-child:not(.subrow) {
	border-left: 1px solid var(--table-border);
}

tbody:first-child > tr:first-child > td {
	border-top: 1px solid var(--table-border);
}

thead > tr:first-child > :first-child,
tbody:first-child tr:first-child :first-child {
	border-top-left-radius: 8px;
}

thead > tr:first-child > :last-child,
tbody:first-child tr:first-child :last-child {
	border-top-right-radius: 8px;
}

tbody > tr:last-child > :first-child:not(.subrow),
.bottom-left-cell {
	border-bottom-left-radius: 8px;
}

tbody > tr:last-child > :last-child:not(.subrow),
.bottom-right-cell {
	border-bottom-right-radius: 8px;
}

table + div {
	margin-top: 20px;
}

hr {
	border: none;
	border-bottom: 1px solid var(--table-border);
}

.transparent-color {
	background: repeating-linear-gradient(
		-45deg,
		#fff,
		#fff 1.5px,
		#ccc 1.5px,
		#ccc 4px
	);
}

.dialog {
	display: none;
	z-index: 200;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: color-mix(in srgb, var(--sidebar-bg) 50%, transparent);
}

.dialog.open {
	display: flex;
}

.dialog-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 12px;
}

.dialog-content {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-width: 300px;
	max-width: 600px;
	min-height: 0;
	margin: 50px;
	border-radius: 10px;
	border: 1px solid var(--dialog-border);
	background-color: var(--dialog-bg);
	box-shadow: -8px 8px 0 0 var(--dialog-shadow);
	color: var(--dialog-fg);
}

.dialog-title {
	flex-grow: 1;
	margin-left: 12px;
	font-weight: 700;
}

.dialog-body {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	min-height: 0;
	margin: -8px 12px;
	padding: 8px 12px;
	overflow-y: auto;
}

.dialog-actions {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 12px;
	margin: 24px;
	margin-top: 12px;
}

.dialog-actions button.text {
	flex-grow: 1;
	flex-basis: 120px;
}

.dialog-section-title {
	font-weight: 700;
	margin-bottom: 8px;
}

.dialog-section-title:not(:first-child) {
	margin-top: 24px;
	padding-top: 24px;
	border-top: 1px solid var(--table-border);
}

.about-dialog {
	align-items: center;
	text-align: center;
}

#edit-dialog label:not(:first-child) {
	margin-top: 12px;
}

#edit-dialog label > span:first-child {
	flex-basis: 120px;
}

#edit-dialog label > input,
#edit-dialog label > .select-wrapper,
#edit-dialog label > string-preview {
	flex-basis: 200px;
}

.string-preview-container {
	display: flex;
	margin-top: 12px;
	gap: 12px;
}

.string-preview {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 1;
	flex-basis: 50%;
	overflow: auto;
	border-radius: 6px;
	padding: 6px;
	background: var(--preview-bg);
	image-rendering: pixelated;
}

.string-preview-small .preview-letter {
	width: 12px;
	margin-left: -3px;
}

.string-preview-large .preview-letter {
	width: 14px;
	margin-left: -1px;
}

.preview-line-break, .preview-page-break {
	width: 100%;
}

.string-preview-small .preview-page-break {
	height: 8px;
}

.string-preview-large .preview-page-break {
	height: 12px;
}

.string-preview-small .preview-blank {
	width: 7px;
	height: 8px;
	margin-top: 4px;
	margin-left: 2px;
	background: #fff;
}

.string-preview-large .preview-blank {
	width: 11px;
	height: 12px;
	margin-top: 3px;
	margin-left: 1px;
	background: #fff;
}

input + .string-preview {
	flex-basis: 200px;
}

input:invalid + .string-preview,
input.invalid + .string-preview {
	display: none;
}

#choose-encoding-dialog .dialog-body > div {
	display: flex;
	align-items: center;
	gap: 12px;
}

#choose-encoding-dialog .dialog-body > div + div {
	margin-top: 24px;
}

#edit-encoding-dialog .dialog-content {
	flex-grow: 1;
}

#edit-encoding-dialog th {
	text-align: center;
}

#edit-encoding-dialog td:nth-child(2),
#edit-encoding-dialog td:nth-child(3) {
	text-align: center;
	background-color: var(--preview-bg);
}

.frame-preview {
	width: 128px;
	height: 128px;
	position: relative;
}

.frame-preview-layer {
	position: absolute;
}

.spinner {
	display: none;
	z-index: 201;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	background-color: color-mix(in srgb, var(--sidebar-bg) 50%, transparent);
}

.spinner.on {
	display: flex;
}

.spinner-inner {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	display: block;
	margin: 15px 0;
	position: relative;
	color: var(--sidebar-fg);
	box-sizing: border-box;
	animation: spinner-anim 1s linear infinite alternate;
}

@keyframes spinner-anim {
	0% { box-shadow: -38px -6px, -12px 6px,  14px -6px; }
	33% { box-shadow: -38px 6px, -12px -6px,  14px 6px; }
	66% { box-shadow: -38px -6px, -12px 6px, 14px -6px; }
	100% { box-shadow: -38px 6px, -12px -6px, 14px 6px; }
}

@font-face {
	font-family: "Noto Sans Mono";
	src: url("../fonts/NotoSansMono-Thin.ttf") format("truetype");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Noto Sans Mono";
	src: url("../fonts/NotoSansMono-ExtraLight.ttf") format("truetype");
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: "Noto Sans Mono";
	src: url("../fonts/NotoSansMono-Light.ttf") format("truetype");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Noto Sans Mono";
	src: url("../fonts/NotoSansMono-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Noto Sans Mono";
	src: url("../fonts/NotoSansMono-Medium.ttf") format("truetype");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Noto Sans Mono";
	src: url("../fonts/NotoSansMono-SemiBold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Noto Sans Mono";
	src: url("../fonts/NotoSansMono-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Noto Sans Mono";
	src: url("../fonts/NotoSansMono-ExtraBold.ttf") format("truetype");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Noto Sans Mono";
	src: url("../fonts/NotoSansMono-Black.ttf") format("truetype");
	font-weight: 900;
	font-style: normal;
}
