html, body, h1, h2, h3 {
	margin: 0;
	padding: 0;
}

body {
	padding: 12px 24px;
	color: #444;
}

body > * + * {
	margin-top: 1em;
}

h1 + h2 {
	margin-top: 0;
}

h1, h2, h3 {
	color: #222;
}

h3 {
	margin-top: 2em;
	margin-bottom: 1em;
	cursor: pointer;
	position: relative;
	color: #444;
}

h3:not(.collapse) {
	color: black;
}

h3:hover {
	color: hotpink;
}

h3::before {
	display: block;
	position: absolute;
	left: -16px;
	content: '⏷ ';
}

h3.collapse::before {
	content: '⏵ ';
}

h3.collapse + * {
	display: none;
}

#file-upload-container {
	padding: 12px 24px;
	border-radius: 8px;
	background: #eee;
}

code {
	display: block;
}

code + * {
	margin-top: 18px;
}

.word {
	display: inline-block;
	width: 36px;
	min-height: 12px;
	cursor: pointer;
}

.word.val {
	color: hotpink;
	font-weight: bold;
}

table {
	border-collapse: collapse;
}

td, tbody th {
	border: 1px solid white;
	padding: 8px 12px;
	font-family: monospace;
}

tbody th {
	background: white;
	color: #ccc;
	font-weight: normal;
}

tbody {
	background: #f9f9f9;
}

tbody > tr:nth-of-type(even) {
	background: #eee;
}

.image-set {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 12px;
	padding: 12px;
	background: #eee;
}

.image-set + .image-set {
	margin-top: 12px;
}

.image {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: small;
}

canvas {
	display: inline-block;
	padding: 0;
	border: 1px solid #ddd;
	background: white;
}

.fade {
	color: #ccc;
}

a, a:visited, a:active {
	color: hotpink;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
