html, body, h1, h2, h3 {
	margin: 0;
	padding: 0;
}

body {
	padding: 12px 24px;
	color: #444;
}

body * + * {
	margin-top: 1em;
}

h1 + h2 {
	margin-top: 0;
}

h1, h2, h3 {
	color: #222;
}

#file-upload-container {
	padding: 12px 24px;
	border-radius: 8px;
	background: #eee;
}

code {
	display: block;
}

.word {
	display: inline-block;
	width: 36px;
	min-height: 12px;
	cursor: pointer;
}

.word.val {
	color: hotpink;
	font-weight: bold;
}

table {
	border-collapse: collapse;
}

td {
	border: 1px solid white;
	padding: 8px 12px;
	font-family: monospace;
}

tbody {
	background: #f9f9f9;
}

tbody > tr:nth-of-type(even) {
	background: #eee;
}
